*{
    margin: 0;
    padding: 0;
}
.carousel-item{
    filter: brightness(45%);
}
.mi-carousel{
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    top: 30%;
    color: #fff;
    text-align: right;
}
.java-script{
    background-color: #fec106;
}
.react{
    background-color: #17a2b9;
}
.startups{
    background-color: #dc3546;
}

.texto-honolulu{
    background-color: #353a40;
}

.imagen-honolulu{
    width: 100%;
}

.subrayado-puntos{
    border-bottom:1px dotted #000000;
}
.mis-inputs{
    border: gray solid 1px;
    width: 20%;
}
.mi-textarea{
    border: gray solid 1px;
    width: 40%;
}
.row{
    --bs-gutter-x: 0;
}
.boton-enviar{
    background-color: #93c93e;
    width: 40%;
}

.mi-footer{
    background-color: #1e4f6d !important;
}